.filter-row-grid .x-grid3-header {
    background: #f9f9f9 url(filter-row-hrow.gif) repeat-x left top;
}

.filter-row-grid .filter-row-header {
    height: 26px;
}

tr.filter-row-header .filter-row-icon input {
    background-image: url(filter-row-icon.png);
    background-repeat: no-repeat;
    padding-left: 16px;
}
